/* ========================================================

	COLLECTION OF GREAT FREE WEB FONTS				

=========================================================== */

/* Lato */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

/* Alegreya */
@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,900italic,400,700,900);

/* Sourc Sans */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Open Sans */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);

/* Anonymous Pro */
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,400italic,700,700italic);

/* Playfair Display */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);

/* Roboto */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

/* Merriweather Serif */
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900italic,900,700italic,700,400italic,300italic,300);

/* Merriweather Sans-Serif */
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,800italic,800,700italic,700,400italic,300italic,300);

/* Karla */
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);


