@import url(http://fonts.googleapis.com/css?family=Lato:300,700);
/* ============================ EXTERNAL IMPORTS ============================ */
/* ============================ MIXINS ============================ */
/* ============================ ANIMATIONS ============================ */
@-webkit-keyframes fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }

/* ============================ GLOBAL STYLE ============================ */
html, body { height: 100%; width: 100%; background-color: #ebe8eb; }

h1, h2, h3, h4, h5, p, a, b, blockquote, span, strong { font-family: 'Lato', sans-serif; letter-spacing: 0.04em; line-height: 1.8em; }

p { margin-top: 2%; }

/* ============================ PAGE STYLE ============================ */
.logo-parallax { width: 100%; height: 100%; overflow: visible; display: table; }

ul#logo { display: block; position: relative; width: 100%; height: 30%; margin-top: 13%; }
ul#logo div.wrap { width: 70%; height: 100%; padding: 0 2% 0 2%; box-sizing: border-box; position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; }
ul#logo div.wrap li.layer .r { width: 29%; height: 90%; margin-left: 8%; margin-top: 1%; -webkit-animation: fade-in 1s ease 0s 1 normal both; -moz-animation: fade-in 1s ease 0s 1 normal both; -o-animation: fade-in 1s ease 0s 1 normal both; animation: fade-in 1s ease 0s 1 normal both; }
ul#logo div.wrap li.layer .e { width: 14%; height: 66%; margin-left: 22%; margin-top: 5%; -webkit-animation: fade-in 1s ease 0.1s 1 normal both; -moz-animation: fade-in 1s ease 0.1s 1 normal both; -o-animation: fade-in 1s ease 0.1s 1 normal both; animation: fade-in 1s ease 0.1s 1 normal both; }
ul#logo div.wrap li.layer .z { width: 18%; height: 71%; margin-left: 30%; margin-top: 2%; -webkit-animation: fade-in 1s ease 0.5s 1 normal both; -moz-animation: fade-in 1s ease 0.5s 1 normal both; -o-animation: fade-in 1s ease 0.5s 1 normal both; animation: fade-in 1s ease 0.5s 1 normal both; }
ul#logo div.wrap li.layer .a1 { width: 12%; height: 62%; margin-left: 39%; margin-top: 2%; -webkit-animation: fade-in 1s ease 0.7s 1 normal both; -moz-animation: fade-in 1s ease 0.7s 1 normal both; -o-animation: fade-in 1s ease 0.7s 1 normal both; animation: fade-in 1s ease 0.7s 1 normal both; }
ul#logo div.wrap li.layer .n { width: 14%; height: 63%; margin-left: 48%; margin-top: 3%; -webkit-animation: fade-in 1s ease 0.2s 1 normal both; -moz-animation: fade-in 1s ease 0.2s 1 normal both; -o-animation: fade-in 1s ease 0.2s 1 normal both; animation: fade-in 1s ease 0.2s 1 normal both; }
ul#logo div.wrap li.layer .d { width: 16%; height: 74%; margin-left: 55%; margin-top: 5%; -webkit-animation: fade-in 1s ease 0.3s 1 normal both; -moz-animation: fade-in 1s ease 0.3s 1 normal both; -o-animation: fade-in 1s ease 0.3s 1 normal both; animation: fade-in 1s ease 0.3s 1 normal both; }
ul#logo div.wrap li.layer .i { width: 11%; height: 68%; margin-left: 66%; margin-top: 5%; -webkit-animation: fade-in 1s ease 0.4s 1 normal both; -moz-animation: fade-in 1s ease 0.4s 1 normal both; -o-animation: fade-in 1s ease 0.4s 1 normal both; animation: fade-in 1s ease 0.4s 1 normal both; }
ul#logo div.wrap li.layer .k { width: 13%; height: 76%; margin-left: 72%; margin-top: 1%; -webkit-animation: fade-in 1s ease 0.9s 1 normal both; -moz-animation: fade-in 1s ease 0.9s 1 normal both; -o-animation: fade-in 1s ease 0.9s 1 normal both; animation: fade-in 1s ease 0.9s 1 normal both; }
ul#logo div.wrap li.layer .a2 { width: 13%; height: 66%; margin-left: 79%; margin-top: 4%; -webkit-animation: fade-in 1s ease 0.6s 1 normal both; -moz-animation: fade-in 1s ease 0.6s 1 normal both; -o-animation: fade-in 1s ease 0.6s 1 normal both; animation: fade-in 1s ease 0.6s 1 normal both; }

.line { margin: 0 auto; width: 12%; height: 0; -webkit-animation: line-animation 0.5s linear 1 backwards reverse; -moz-animation: line-animation 0.5s linear 1 backwards reverse; -o-animation: line-animation 0.5s linear 1 backwards reverse; animation: line-animation 0.5s linear 1 backwards reverse; }

.line.torquise { border: 0.2em solid #27ecc9; }

@-webkit-keyframes line-animation { 0% { width: 12%; }
  50% { opacity: .5; }
  100% { width: 0; opacity: 0; } }

@-moz-keyframes line-animation { 0% { width: 12%; }
  50% { opacity: .5; }
  100% { width: 0; opacity: 0; } }

@-o-keyframes line-animation { 0% { width: 12%; }
  50% { opacity: .5; }
  100% { width: 0; opacity: 0; } }

@keyframes line-animation { 0% { width: 12%; }
  50% { opacity: .5; }
  100% { width: 0; opacity: 0; } }

.copy-container { width: 30%; height: 30%; margin: 3% auto 0 auto; text-align: center; }
.copy-container h1 { font-size: .9em; color: #181618; text-transform: uppercase; margin: 4% 0 4% 0; -webkit-animation: fade-in 3s ease 0s 1 normal both; -moz-animation: fade-in 3s ease 0s 1 normal both; -o-animation: fade-in 3s ease 0s 1 normal both; animation: fade-in 3s ease 0s 1 normal both; }
.copy-container h2 { font-size: .7em; font-weight: 400; color: #181618; text-transform: uppercase; margin: 4% 0 1% 0; -webkit-animation: fade-in 3s ease 0.3s 1 normal both; -moz-animation: fade-in 3s ease 0.3s 1 normal both; -o-animation: fade-in 3s ease 0.3s 1 normal both; animation: fade-in 3s ease 0.3s 1 normal both; }
.copy-container p { font-weight: 300; font-size: .8em; color: #9b929b; line-height: 1.8em; -webkit-animation: fade-in 3s ease 0.5s 1 normal both; -moz-animation: fade-in 3s ease 0.5s 1 normal both; -o-animation: fade-in 3s ease 0.5s 1 normal both; animation: fade-in 3s ease 0.5s 1 normal both; }

/* ============================ MEDIA QUERIES ============================ */
@media screen and (max-width: 499px) { .copy-container { width: 85%; }
  .copy-container h1 { font-size: 1.2em; }
  .copy-container h2 { font-size: .9em; }
  .copy-container p { font-size: .9em; line-height: 1.5em; }
  ul#logo { width: 100%; height: 20% !important; margin-top: 10%; }
  ul#logo div.wrap { width: 90%; height: 100%; }
  ul#logo div.wrap li.layer .r { width: 29%; height: 90%; margin-left: 6%; margin-top: 1%; }
  ul#logo div.wrap li.layer .e { width: 14%; height: 66%; margin-left: 20%; margin-top: 5%; }
  ul#logo div.wrap li.layer .z { width: 18%; height: 71%; margin-left: 28%; margin-top: 2%; }
  ul#logo div.wrap li.layer .a1 { width: 12%; height: 62%; margin-left: 39%; margin-top: 2%; }
  ul#logo div.wrap li.layer .n { width: 14%; height: 63%; margin-left: 49%; margin-top: 3%; }
  ul#logo div.wrap li.layer .d { width: 16%; height: 74%; margin-left: 55%; margin-top: 5%; }
  ul#logo div.wrap li.layer .i { width: 11%; height: 68%; margin-left: 67%; margin-top: 5%; }
  ul#logo div.wrap li.layer .k { width: 13%; height: 76%; margin-left: 74%; margin-top: 1%; }
  ul#logo div.wrap li.layer .a2 { width: 13%; height: 66%; margin-left: 82%; margin-top: 4%; } }
@media screen and (max-width: 800px) and (min-width: 500px) and (orientation: landscape) { ul#logo { width: 100%; height: 50% !important; margin-top: 2% !important; }
  .copy-container { margin-bottom: 10%; } }
@media screen and (min-width: 900px) and (max-width: 1199px) { .copy-container { width: 85%; }
  .copy-container h1 { font-size: 1em; }
  .copy-container h2 { font-size: .9em; }
  .copy-container p { font-size: .9em; line-height: 1.5em; }
  ul#logo { width: 100%; height: 23%; margin-top: 13%; }
  ul#logo div.wrap { width: 70%; height: 100%; } }
@media screen and (min-width: 650px) and (max-width: 899px) { .copy-container { width: 85%; }
  .copy-container h1 { font-size: 1em; }
  .copy-container h2 { font-size: .9em; }
  .copy-container p { font-size: .9em; line-height: 1.5em; }
  ul#logo { width: 100%; height: 22%; margin-top: 13%; }
  ul#logo div.wrap { width: 90%; height: 100%; } }
@media screen and (min-width: 400px) and (max-width: 649px) { .copy-container { width: 85%; }
  .copy-container h1 { font-size: 1em; }
  .copy-container h2 { font-size: .8em; }
  .copy-container p { font-size: .8em; line-height: 1.5em; }
  ul#logo { width: 100%; height: 20%; margin-top: 20%; }
  ul#logo div.wrap { width: 100%; height: 100%; } }
