html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.BGwrap {
	width: 100%;
    height: 100%;
	position: relative;
	overflow: visible;
	display: table;

}

ul#scene {
	width: 100%;
	height: 100%;
}


.background {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: static;
	bottom: 0px;
 	background-color: black;
 	overflow: hidden;
}


.sea {
	width:140%;
	height: 200px;
	overflow: hidden;
	position: absolute;
	background-color: aqua;
	left:-100px;
	bottom:-100px;
}

.player {
	width: 200px;
	height: 300px;
	overflow: hidden;
	position: absolute;
	bottom: -50px;
	left: 50px;
	background-color: red;
	z-index: 3;
}

.thailand {
	width: 300px;
	height: 200px;
	overflow: hidden;
	position: absolute;
	bottom: 50px;
	right: 50px;
	background-color: pink;
	z-index: 1;


}

.content {
	width: 50%;
	height: 250px;
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: lime;
}

