/* ============================ EXTERNAL IMPORTS ============================ */

@import url(http://fonts.googleapis.com/css?family=Lato:300,700);



/* ============================ MIXINS ============================ */

@import "mixins/_mixins.scss";


/* ============================ ANIMATIONS ============================ */

@import "animation/_animation.scss";


/* ============================ GLOBAL STYLE ============================ */

@import "global/_global.scss";


/* ============================ PAGE STYLE ============================ */

.logo-parallax {
	width: 100%;
    height: 100%;
	overflow: visible;
	display: table;
}

ul#logo {
	display: block;
	position: relative;
	width: 100%;
	height: 30%;
	margin-top: 13%;
	div.wrap {
		width: 70%;
		height: 100%;
		padding: 0 2% 0 2%;
		box-sizing: border-box;
		
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		li.layer {
			.r {
				@include logo-letter (8%, 1%, 29%, 90%);
				@include animation($animation-name: fade-in, $animation-duration: 1s);
			}
			.e {
				@include logo-letter (22%, 5%, 14%, 66%);
				@include animation($animation-name: fade-in, $animation-duration: 1s, $animation-delay: .1s);
			}
			.z {
				@include logo-letter (30%, 2%, 18%, 71%);
				@include animation($animation-name: fade-in, $animation-duration: 1s, $animation-delay: .5s);
			}
			.a1 {
				@include logo-letter (39%, 2%, 12%, 62%);
				@include animation($animation-name: fade-in, $animation-duration: 1s, $animation-delay: .7s);
			}
			.n {
				@include logo-letter (48%, 3%, 14%, 63%);
				@include animation($animation-name: fade-in, $animation-duration: 1s, $animation-delay: .2s);
			}
			.d {
				@include logo-letter (55%, 5%, 16%, 74%);
				@include animation($animation-name: fade-in, $animation-duration: 1s, $animation-delay: .3s);
			}
			.i {
				@include logo-letter (66%, 5%, 11%, 68%);
				@include animation($animation-name: fade-in, $animation-duration: 1s, $animation-delay: .4s);
			}
			.k {
				@include logo-letter (72%, 1%, 13%, 76%);
				@include animation($animation-name: fade-in, $animation-duration: 1s, $animation-delay: .9s);
			}
			.a2 {
				@include logo-letter (79%, 4%, 13%, 66%);
				@include animation($animation-name: fade-in, $animation-duration: 1s, $animation-delay: .6s);
			}
		}
	}
}

@include line ($line-thick: .2em, $line-width: 12%, $line-color: $torquise, $name: torquise, $animation: on);

.copy-container {
	width: 30%;
	height: 30%;
	margin: 3% auto 0 auto;
	text-align: center;
	h1 {
		font-size: .9em;
		color: $near-black;
		text-transform: uppercase;
		margin: 4% 0 4% 0;
		@include animation($animation-name: fade-in, $animation-duration: 3s);
	}
	h2 {
		font-size: .7em;
		font-weight: 400;
		color: $near-black;
		text-transform: uppercase;
		margin: 4% 0 1% 0;
		@include animation($animation-name: fade-in, $animation-duration: 3s, $animation-delay: .3s);

	}
	p {
		font-weight: 300;
		font-size: .8em;
		color: lighten($near-black, 50%);
		line-height: 1.8em;
		@include animation($animation-name: fade-in, $animation-duration: 3s, $animation-delay: .5s);
	}
}


/* ============================ MEDIA QUERIES ============================ */

@import "media/_media-small.scss";

@import "media/_media-medium.scss";
