html, body {
	height: 100%;
	width: 100%;
	background-color: #ebe8eb;
}

h1, h2, h3,h4, h5, p, a, b, blockquote, span, strong, {
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.04em;
	line-height: 1.8em;
}

p {
	margin-top: 2%;
}