@media screen and (min-width: 900px) and (max-width: 1199px) {
	.copy-container {
		width: 85%;
		h1 {
			font-size: 1em;
		}
		h2 {
			font-size: .9em;
		}
		p {
			font-size: .9em;
			line-height: 1.5em;
		}
	}	
	ul#logo {
		width: 100%;
		height: 23%;
		margin-top: 13%;
		div.wrap {
			width: 70%;
			height: 100%;
		}
	}
}

@media screen and (min-width: 650px) and (max-width: 899px) {
	.copy-container {
		width: 85%;
		h1 {
			font-size: 1em;
		}
		h2 {
			font-size: .9em;
		}
		p {
			font-size: .9em;
			line-height: 1.5em;
		}
	}	
	ul#logo {
		width: 100%;
		height: 22%;
		margin-top: 13%;
		div.wrap {
			width: 90%;
			height: 100%;
		}
	}
}

@media screen and (min-width: 400px) and (max-width: 649px) {
	.copy-container {
		width: 85%;
		h1 {
			font-size: 1em;
		}
		h2 {
			font-size: .8em;
		}
		p {
			font-size: .8em;
			line-height: 1.5em;
		}
	}	
	ul#logo {
		width: 100%;
		height: 20%;
		margin-top: 20%;
		div.wrap {
			width: 100%;
			height: 100%;
		}
	}
}