
@media screen and (max-width: 499px) {
	.copy-container {
		width: 85%;
		h1 {
			font-size: 1.2em;
		}
		h2 {
			font-size: .9em;
		}
		p {
			font-size: .9em;
			line-height: 1.5em;
		}
	}	
	ul#logo {
		width: 100%;
		height: 20% !important;
		margin-top: 10%;
		div.wrap {
			width: 90%;
			height: 100%;
			li.layer {
				.r {
					@include logo-letter (6%, 1%, 29%, 90%);
				}
				.e {
					@include logo-letter (20%, 5%, 14%, 66%);
				}
				.z {
					@include logo-letter (28%, 2%, 18%, 71%);
				}
				.a1 {
					@include logo-letter (39%, 2%, 12%, 62%);
				}
				.n {
					@include logo-letter (49%, 3%, 14%, 63%);
				}
				.d {
					@include logo-letter (55%, 5%, 16%, 74%);
				}
				.i {
					@include logo-letter (67%, 5%, 11%, 68%);
				}
				.k {
					@include logo-letter (74%, 1%, 13%, 76%);
				}
				.a2 {
					@include logo-letter (82%, 4%, 13%, 66%);
				}
			}
		}
	}
}


@media screen and (max-width: 800px) and (min-width: 500px) and (orientation: landscape) {	
	ul#logo {
		width: 100%;
		height: 50% !important;
		margin-top: 2% !important;
	}
	.copy-container {
		margin-bottom: 10%;
	}
}