// Color Palete
$near-black: #181618;
$near-white: #ebe8eb;
$magenta: #ec277f;
$torquise: #27ecc9;

// REZANDIKA LOGO
@mixin logo-letter ($left, $top, $letter-width, $letter-height) {
	width: $letter-width;
	height: $letter-height;
	margin-left: $left;
	margin-top: $top;
}


// Line with width animation
@mixin line ($line-thick: .2em, $line-width: 12%, $line-color: black, $name: default, $animation: off) {
	.line {
		margin: 0 auto;
		width: $line-width;
		height: 0;
		@if $animation == on {
			-webkit-animation: line-animation 0.5s linear 1 backwards reverse;
			   -moz-animation: line-animation 0.5s linear 1 backwards reverse;
			     -o-animation: line-animation 0.5s linear 1 backwards reverse;
			        animation: line-animation 0.5s linear 1 backwards reverse;
		} @else if $animation == off {
		
		}
	}
	.line.#{$name} {
		border: $line-thick solid $line-color;
	}
	@if $animation == on {
		@-webkit-keyframes line-animation {
			0% 		{ width: $line-width;    }
			50%     { opacity: .5;           }
			100% 	{ width: 0;  opacity: 0; }
		}
		   @-moz-keyframes line-animation {
			0% 		{ width: $line-width;    }
			50%     { opacity: .5;           }
			100% 	{ width: 0;  opacity: 0; }
		}
		     @-o-keyframes line-animation {
			0% 		{ width: $line-width;    }
			50%     { opacity: .5;           }
			100% 	{ width: 0;  opacity: 0; }
		}
		        @keyframes line-animation {
			0% 		{ width: $line-width;    }
			50%     { opacity: .5;           }
			100% 	{ width: 0;  opacity: 0; }
		}

	} @else {
		
	}
}


// Mixin to trigger animation
@mixin animation ($animation-name: fade-in, $animation-duration: 1s, $animation-timing: ease, $animation-delay: 0s, $animation-iteration: 1, $animation-direction: normal, $animation-fill: both) {
			-webkit-animation: $animation-name $animation-duration $animation-timing $animation-delay $animation-iteration $animation-direction $animation-fill;
			   -moz-animation: $animation-name $animation-duration $animation-timing $animation-delay $animation-iteration $animation-direction $animation-fill;
			     -o-animation: $animation-name $animation-duration $animation-timing $animation-delay $animation-iteration $animation-direction $animation-fill;
			        animation: $animation-name $animation-duration $animation-timing $animation-delay $animation-iteration $animation-direction $animation-fill;
}